{% extends 'home/layout.html'%}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-3 border-bottom">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('home.home')}}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Register Vehicle</li>
      </ol>
    </nav>
  </div>
  <div class="card w-50 mt-4 shadow">
    <div class="card-header fw-bold">
      Vehicle Registration Form
    </div>
    <div class="card-body">
      <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Vehicle No.</label>
          {% if form.vehicleno.errors %}
            {{ form.vehicleno(class="form-control w-75 is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.vehicleno.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{form.vehicleno(class="form-control w-75")}}
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Owner Name</label>
          {{form.ownername(class="form-control w-75")}}
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Route No.</label>
          {{form.routeno(class="form-control w-75")}}
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Make/Model</label>
          {{form.makemodel(class="form-control w-75")}}
        </div>
        <div class="mb-3">
          {{form.submit(class="btn btn-success btn-sm")}}
        </div>
      </form>
    </div>
  </div>    
{% endblock content %}